.template-classic {
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  border-radius: 1rem;
  border: 5px solid rgb(255, 255, 255);
  background: #ffffff;
  position: relative;

  .postcard-image {
    width: 100%;
    max-height: 300px;
    border-radius: 1rem;
  }

  .postcard-text {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: rgba(240, 240, 240, 0.1);
    backdrop-filter: blur(5px);
    color: rgb(51, 51, 51, 0.8);
    padding: 0.5rem;
    text-align: center;
    font-size: 2rem;
    padding-right: 1rem;
    padding-top: 5rem;
    border-right: #fff 10px solid;
    border-radius: 1rem 30rem 30rem 1rem;

    &::placeholder {
      color: rgba(80, 68, 68, 0.6);
    }
    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
}

.template-modern {
  font-family: 'Arial', sans-serif;
  background-color: #c0a9f3;
  padding: 2rem;
  border-radius: 1rem;
  color: white;

  .postcard-image {
    width: 100%;
    max-height: 300px;

    clip-path: polygon(10% 0, 100% 10%, 90% 100%, 0% 90%);
    margin-bottom: 1rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }

  .postcard-text {
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 8px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
.template-elegant {
  font-family: 'Georgia', serif;
  background: #f1dff7;
  border: 1.3rem solid #f1dff7;
  color: #333;
  text-align: center;

  .postcard-image {
    width: 100%;
    max-height: 300px;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }

  .postcard-text {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 50%;
    backdrop-filter: blur(5px);
    text-align: center;
    font-size: 2rem;
    background: rgba(240, 240, 240, 0.4);
    padding: 1rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #333;
    font-style: italic;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);

    &::placeholder {
      color: rgba(80, 68, 68, 0.6);
    }
  }
}
