.template-classic {
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-size: 1.2rem;
  border: 1rem solid #f5f9f9;
}

.template-modern {
  border-radius: 1rem;
  border: 1rem solid #c0a9f3;
  background-color: #c0a9f3;
  font-family: 'Arial', sans-serif;
}

.template-elegant {
  font-family: 'Georgia', serif;
  background-color: #f5f9f9;
}
