@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.glassBackground {
  @apply bg-white bg-opacity-10 
  backdrop-blur-lg backdrop-filter;
}
.defaultBackground {
  @apply bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-black via-[#351b3f] to-black;
  background-size: 150%;
  animation: glowMove 10s ease-in-out infinite;
}

.overlay-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0)
  );
}

.backdrop-blur-md {
  backdrop-filter: blur(10px);
}
@keyframes glowMove {
  0%,
  100% {
    background-position: center;
  }
  50% {
    background-position: top left;
  }
}
