@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --viewport-height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at top, black, #2d1736, black);
  z-index: -1;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.content {
  flex: 1;
  width: 100%;
  position: relative;
}

.glassBackground {
  @apply bg-white bg-opacity-10 backdrop-blur-lg backdrop-filter;
}

.primary-btn {
  @apply bg-gradient-to-r from-[#E91E63] to-[#4B0082] hover:from-[#E91E63]/80 hover:to-[#4B0082]/80 transition-all duration-300 ease-in-out;
}

.secondary-btn {
  @apply border-2 border-[#4B0082] hover:bg-[#4B0082]/30 transition-all duration-300 ease-in-out;
}

.defaultBackground {
  display: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input:-webkit-autofill {
  background-color: #110915 !important;
  -webkit-box-shadow: 0 0 0px 1000px #110915 inset !important;
  -webkit-text-fill-color: white !important;
  color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  background-color: #110915 !important;
  -webkit-box-shadow: 0 0 0px 1000px #110915 inset !important;
  -webkit-text-fill-color: white !important;
}
