@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.glassBackground {
  @apply bg-white bg-opacity-10 
  backdrop-blur-lg backdrop-filter;
}
.defaultBackground {
  @apply bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-black via-[#2D1736] to-black;
  background-size: 130%;
  background-size: cover;
  background-attachment: fixed;
}

/* .overlay {
  @apply bg-black/80 absolute top-0 left-0 z-50 w-full h-full;
} */

.backdrop-blur-md {
  backdrop-filter: blur(10px);
}
